.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.leftContent {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 80%;
    height: 80%;
    background-image: url('https://picsum.photos/200?random=1');
    background-size: cover;
    border-radius: 20%;
    background-position: center;
    animation: dotsMove 2s infinite linear;
    transition: transform 0.3s ease; /* Added transition for smooth effect */
}

.image:hover {
    transform: scale(2.0); /* Enlarge the image on hover */
}
/* .image {
    width: 80%;
    height: 80%;
    background-image: url('https://picsum.photos/200?random=1');
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    animation: dotsMove 2s infinite linear;
} */

@keyframes dotsMove {
    0% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

.rightContent {
    width: 50%;
    height: 100%;
    padding: 0 20px;
    opacity: 0;
    transition: opacity 1s ease;
}

.rightContent.loaded {
    opacity: 1;
}

.heading {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 20px;
}
